.brand-logo{
    color:#2eb82e;
    font-family: 'Marck Script', cursive;
    
}
#logo_id{
    margin-top:25px;
    font-size: 50px;
}

.nav-wrapper li a{
    margin-top: 30px;
    font-family: 'Marck Script', cursive;
    font-size: 30px;
    
}
h3{
    color:#2eb82e;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}
select{
    background-color: #d9e6b2;
}

main {
    flex: 1 0 auto;
  }
#welcome{
    text-align: center;
    font-family: 'Lobster', cursive;
}
.county_select label{
    color:#2eb82e;
    font-weight: bold;
    text-align: left;
}
.input-field label{
    color:#2eb82e;
    font-weight: bold;
}
      
body{
    background-color:#d9e6b2;
    max-width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.container{
    /*width: 80%;*/
    padding-top: 80px;
    /*justify-content: center;*/
    /*margin-left: 250px;*/
    }
nav{
    height: 200px;
    background-image: url('images/cliffs-of-moher.jpg');
    background-size: cover;
    /*position: fixed;*/
    z-index: 2;
    /*max-width:100%*/
    
}
#nav_img{
    width:110px;
    height: 120px;
}
#searchby_county {
    display: inline-block;
    width: 80%;
    height:35px;
}
.search_icon{
    display: inline-block;
    width: 20%;
    height:35px;
}

/*.search{*/
/*   padding-top: 160px;  */
/*}*/
.card{
    display: inline-block;
    margin-right:5px;
}
.card .card-content .card-title {
    font-weight: 500;
}
.card .card-image img{
    width:300px;
}
.card_img{
    
    height:200px;
}
.card_disc{
    width:200px;
    height: 200px;
}
content{
    /*padding-bottom: 200px;*/
}
footer{
    /*margin-top: 290px;*/
    color: #006600;
    background-image: url('images/footr.jpg');
    background-size: cover;
    font-family: 'Marck Script', cursive;
     
}

.footer-container{
    padding-top: 10px;
   /*position: relative;*/
   /*height:400px;*/
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
.footer_social {
    color: #006600;
    font-size: 40px;
    padding: 5px;
    padding-top:10px;
}
footer p{
    font-size:20px;
}
footer h4{
  color: #006600;  
}

@media only screen and (max-width: 850px) {


       .card_para_place{
        display: none;
    }
    /*.card_edit{*/
    /*    display: none;*/
    /*}*/
    .card .card-title{
        font-size: 18px;
    }
    .card .card-content i {
     line-height: 0px; 
     font-size: 15px;
}
.card.medium {
    height: 250px;
}
#nav_img{
    width:90px;
    height: 100px;
  
}
#logo_id{
    margin-left: 20px;
     margin-top:40px;
    font-size: 60px;
}
    
}
@media only screen and (max-width: 479px) {
    
   
    nav{
        height: 150px;
    }
    .card_para_place,.card_para_county{
        display: none;
    }
    .card_edit{
        display: none;
    }
    .card .card-title{
        font-size: 10px;
    }
    .card .card-content i {
     line-height: 0px; 
     font-size: 10px;
}
#nav_img{
    display: none;
}
#logo_id{
    margin-left: 10px;
    margin-top:45px;
    font-size: 35px;
}
}