{% extends 'base.html' %}

{% block content %}

<div class="row search ">
  <div class="col s12 ">
    <form>
      
   
    <select id="searchby_county" class="browser-default" name="county">
    <option value="" disabled selected>Search By county</option>
    
    {% for county in county_names %}
    <option value={{county}}>{{county}}</option>
    {% endfor %}
    
    
    </select><button class="btn waves-effect waves-light search_icon" type="submit" style="display: inline-block;">
      
    <i class="material-icons ">search</i>
  </button>
  <!--<ul class="collapsible" id="searchby_county">-->
  <!--  <li>-->
  <!--    <div class="collapsible-header"><i class="material-icons">filter_drama</i>Search By county</div>-->
  <!--    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <div class="collapsible-header"><i class="material-icons">place</i>Second</div>-->
  <!--    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>-->
  <!--  </li>-->
  <!--  </ul>-->
 </form>
 </div>
</div>

<h3 id="welcome">Welcome to Ireland</h3>

<div class="container center">



<div class="row col s5" >
  
    {% for task in tasks %}
  <div class="card medium">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="card_img" src="{{task.image}}">
    </div>
    <div class="card-content">
      <span class="card-title activator">{{task.spot_name}} <i class="material-icons right">more_vert</i></span>
      <p class="card_para_place">{{task.spot_place}}</p>
      <p class="card_para_county">{{task.county}}</p>
      <a href="{{url_for('edit',spot='spots', spot_id=task._id)}}" class="waves-effect waves-light btn btn_small blue card_edit">Edit</a>
    </div>
    <div class="card-reveal">
      {%for tag in task.things_todo%}
        <div class="chip">{{tag}}</div>
        {% endfor %}
      <span class="card-title grey-text text-darken-4 ">{{task.spot_name}}<i class="material-icons right">close</i></span>
      <p>{{task.description}}</p>
    </div>
  </div>
  {% endfor %}

  </div>
  </div>
  
  
 



{% endblock %}